<div>
  <label for="cpf">CPF</label><br>
  <input type="text" name="cpf">
</div>
<div>
  <label for="rentalDate">Rental Date</label><br>
  <input type="date" name="rentalDate">
</div>
<div>
  <label for="daysQnt">Days Quantity</label><br>
  <input type="datetime" name="daysQnt">
</div>
<button class="btn btn-animated" type="submit">Rent</button>