header {
  height: 200px;
  position: relative;
  background-image: url('https://miro.medium.com/max/3840/1*Veun6E1Q13DxZ2A4YRk_og.jpeg');
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.623) 0 2px 3px;
}

.enjoy-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.enjoy-text {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 30px;
  color: rgb(255, 255, 255);
  text-shadow: black 0 1px 20px;
  
  animation: opacityTransition 3s ease-out;
}

@keyframes opacityTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}